.mt-20{
  margin-top: 4em;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-30 {
  margin-top: -30px !important;
}
.header {
  text-align: center;
  padding: 5px;
}
.success{
background-color:#28a745
}
.cardBackground{
  border: 1px solid;
  padding: 10px;
  /* box-shadow: 5px 10px 20px orange inset; */
}
.logo{
  height: 59px;
  width: 113px;
  cursor: pointer;
}
.cardPadding{
  padding-bottom: 50px;
}
.taskColor{
  font-size: small;
}
.listBorder{
  border-style: none!important;
}
.buttnWidth{
  width: 92px;
}
.containerHght{
  padding-top:15px
}